node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# WTTP test deployments
src/test.wttp.config.json

# TypeScript files
dist

# Tar files
*.tar.gz
*.tgz

