# Source code
src/
/contracts/
lib/

# Tests
test/
*.test.ts
*.spec.ts

# Config files
.gitignore
.npmignore
.eslintrc
.prettierrc
tsconfig.json
hardhat.config.ts
/wttp.config.json

# Development files
coverage/
artifacts/
cache/
node_modules/
.env
.env.template
*.log

# IDE files
.vscode/
.idea/

# Git files
.git/
.github/ 

# Hardhat files
ignition/
scripts/

# Typechain files
/typechain-types/

# Tar files
*.tar.gz
*.tgz

